* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    z-index: 2;
}

.page {
    min-height: 100vh;
}

body {
    font-family: sans-serif;
    background: linear-gradient(#6ec6ff, #aee8ff);
    color: #e8e8f0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: block
}

#sky {
    position: fixed;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

#intro-screen,
#quiz-container,
#score-container{
    position: relative;
    z-index: 10;
}

.cloud {
    position: absolute;
    width: 180px;
    height: 60px;
    background: white;
    border-radius: 100px;
    opacity: .9;
    animation: moveClouds linear infinite;
}

.cloud::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    top: -30px;
    left: 20px;
}

.cloud::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    top: -40px;
    right: 20px;
}

.cloud1 {
    top: 60px;
    left: -250px;
    animation-duration: 35s;
}

.cloud2 {
    top: 180px;
    left: -300px;
    animation-duration: 50s;
}

.cloud3 {
    top: 320px;
    left: -200px;
    animation-duration: 48s;
}

@keyframes moveClouds {
    from{
        transform: translateX(-250px);
    }

    to{
        transform: translateX(calc(100vw + 250px));
    }
}

@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0);
    }
}

#intro-screen {
    width: 500px;
    max-width: 90%;
    border-radius:50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(12px);
    background: rgba(20, 18, 48,.88);
    box-shadow: 0 20px 50px rgba(0,0,0,.25);
    animation: float 5s ease-in-out infinite;
}

#intro-screen select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 10px
}

#intro-screen h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

#intro-screen h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#intro-screen p {
    font-size: 1.2rem;
    margin-bottom: 35px;
}

h1 span{
    color: #4fc3ff
}

#start-btn,
#next-btn,
#restart-btn,
#score-home-btn {
    background:#2b9cff;
    color:white;
    border:none;
    border-radius:15px;
    padding:16px 50px;
    margin-top: 15px;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}

#start-btn:hover{
    transform:translateY(-4px) scale(1.05);
    box-shadow:0 10px 25px rgba(43,156,255,.5);
}

#quiz-container {
    position: relative;
    z-index: 5;
    backdrop-filter: blur(12px);
    background: rgba(20,18,48,.88);
    box-shadow: 0 20px 50px rgba(0,0,0,.25);
    padding: 40px;
    border-radius: 12px;
    max-width: 600px;
    width: 90%
}

#quiz-subject {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4fc3ff;
    margin-bottom: 20px
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#question-number {
    font-size: 18px;
    font-weight: bold;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    color: #ff7b7b;
}

#question {
    font-size: 1.3rem;
    margin-bottom: 30px;
    line-height: 1.6; 
}

#answer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 20px;
}

.answer-btn {
    padding: 14px;
    border: 2px solid #e94560;
    background: none;
    color: #e8e8f0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.answer-btn:hover {
    background-color: #580618;
}

#next-btn {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #e94560;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

#next-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 80vh;
    background: none;
    box-shadow: none;
    color:rgb(0, 0, 0)
}

#score-text {
    font-size: 1.5rem;
    margin: 20px 0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer; 
}

#score-emoji {
    font-size: 5rem;
}

#final-score {
    font-size: 5rem;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}

#score-message {
    font-size: 1.3rem;
    margin-bottom: 40px;
    max-width: 500px;
    color: #1f1c1c
}

.score-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
}

.score-buttons button {
    width: 220px;
    margin: 0;
}

#home-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #2b9cff;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    margin-top: 40px;
    color: black;
    z-index: 1;
}

.footer-left {
    text-align: left;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-right a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-right i {
    font-size: 32px;
}

.footer-right img {
    width: 35px;
    height: 35px;
}

@media (max-width:768px) {
    body {
        overflow-y: auto;
        min-height: auto;
    }

    main {
        min-height: auto;
        padding: 40px 20px;
    }

    #intro-screen {
        width: 95%;
        margin: 40px auto;
        padding: 40px 25px;
    }

    .cloud {
        transform: scale(.6);
    }

    footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 30px 20px
    }

    .footer-left {
        text-align: center;
    }
}

.score-buttons button {
    width: 220px;
}